<!-- Modal -->
<div id="modalEvento" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{!this.dataApiService.selectedEvento.id ? 'Nuevo Evento' : 'Actualizar Evento'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-evento" #formEvento="ngForm" (ngSubmit)="onSaveEvento(formEvento)">
          <input type="hidden" id="eventoId" name="eventoId" class="form-control" [(ngModel)]="this.dataApiService.selectedEvento.id">
          <div class="form-group">
            <label for="">Titulo</label>
            <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Titulo" [(ngModel)]="this.dataApiService.selectedEvento.titulo">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="categoria">Categoria</label>
              <select name="categoria" id="categoria" class="form-control" [(ngModel)]="this.dataApiService.selectedEvento.categoria">
                <option value="agenda">Agenda</option>
                <option value="arte">Arte</option>
                <option value="musica">Música</option>
                <option value="cine">Cine</option>
                <option value="gastronomia">Gastronomia</option>
                <option value="infantil">Infantil</option>
                <option value="locales">Locales</option>
                <option value="guia">La guía</option>
                <option value="premium">Premium</option>
              </select>
            </div>
          </div>
          <div class="form-row">
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="descripcion" class="form-control" cols="50" rows="4" [(ngModel)]="this.dataApiService.selectedEvento.descripcion"></textarea>
          </div>
          
          </div>
          <button type="submit" class="btn btn-primary float-right">Guardar Evento</button>
        </form>
      </div>
    </div>
  </div>
</div>