<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
        <img src="https://dummyimage.com/200x200/000/fff" class="rounded-circle img-thumbnail" alt="perfil">
      </div>
      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
        <div class="container">
          <h4>Nombre usuario: {{user.name}}</h4>
        </div>
        <hr>
        <div class="container">
          <p>Correo: {{user.email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>