<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Volver arriba</a>
    </p>
    <p>Yeray Millán &copy; Proyecto final de curso | What to do | Sitio maquetado con<a href="https://getbootstrap.com/"> Bootstrap</a>.</p>
    <p>Nuevo en What to do? <a href="../../">Política de privacidad</a>. Sí, tus datos están seguros con nosotros.</p>
  </div>
</footer>