<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Bienvenido a What To Do Mallorca</h1>
      <p class="lead my-3">La guía de Mallorca que presenta por secciones que visitar, próximos eventos, información
        local, restaurantes...</p>
      <p class="lead my-3">Registrate y obtendras una zona <span class="badge badge-warning">Premium &#9733;</span> con
        mas información relevante acerca de Mallorca</p>
      <p class="lead mb-0"><a routerLink="/user/registro" class="text-white font-weight-bold">Registrate ahora</a></p>
    </div>
  </div>
