<section class="row mt-5">
  <div class="col">
    <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalEvento">Nuevo Evento</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Descripción</th>
          <th scope="col">Categoria</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of eventos | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{evento.titulo}}</td>
          <td>{{evento.descripcion}}</td>
          <td>{{evento.categoria}}</td>
          <td>
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalEvento" (click)="onPreUpdateEvento(evento)">Actualizar</button>
          </td>
          <td>
            <a href="/admin/lista-eventos" class="btn btn-danger" (click)="onDeleteEvento(evento.id)">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>
</section>
<app-modal></app-modal>