<section id="register" class="mb-5 mt-5">
  <div class="row">
      <aside class="col-md-4 blog-sidebar order-md-2 mb-4">
          <div class="p-4 mb-3 bg-light rounded">
              <h4 class="font-italic">Acerca del registro</h4>
              <p class="mb-0">Una vez registrado, podras disfrutar del apartado Premium. Recuerda que
              puedes darte de baja en cualquier momento desde tu perfil.</p>
          </div>
          <div class="p-4">
              <h4 class="font-italic">Síguenos</h4>
              <ol class="list-unstyled">
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Facebook</a></li>
              </ol>
          </div>
      </aside>
          
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Registro</h4>
        <form class="needs-validation" #formRegister="ngForm" (ngSubmit)="onRegistro()">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="name">Nombre | Alias</label>
              <input type="text" name="name" id="name" class="form-control" placeholder="Nombre"  required minlength="3"  [(ngModel)]="user.name" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="email">Correo electrónico</label>
              <input type="email" name="name" id="email" class="form-control" placeholder="Correo"  required minlength="6" [(ngModel)]="user.email" required>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6 mb-3">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required minlength="5" maxlength="10" [(ngModel)]="user.password">
              </div>
              <div class="col-md-6 mb-3">
                <label for="submit">Completar el registro</label>
                <button type="submit" class="btn btn-secondary btn-block">Registrarse</button>
              </div>
          </div>
          <hr class="mb-4">
          <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group">
                    <button routerLink="/user/login"  class="btn btn-lg btn-light btn-block">¿Ya tienes cuenta?</button>                    
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-group">
                    <button routerLink="#"  class="btn btn-lg btn-light btn-block">Recuperar contraseña</button>           
                </div>
              </div>
            </div>
          <hr class="mb-4">
          <div class="row">
              <div class="col-md-12 mb-3">
                  <h4 class="mb-3">Registrate a traves de</h4>
              </div>
              <div class="col-md-6 mb-3">
                  <div class="form-group">
                          <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()">
                            <span class="fab fa-facebook-f"></span>
                          </button>                    
                  </div>
              </div>
              <div class="col-md-6 mb-3">
                  <div class="form-group">
                          <button class="btn btn-block btn-social btn-google" (click)="onLoginGoogle()">
                            <span class="fab fa-google"></span>
                          </button>          
                  </div>
              </div>
          </div>
          </form>
      </div>
      </div>
      </section>

