<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1" *ngIf="!isLogged">
        <a class="text-muted" routerLink="/user/registro">Registro</a>
    </div>
    <div class="col-4 text-center">
      <a class="blog-header-logo text-dark" routerLink="/">{{app_name}}</a>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <a class="p-2 text-muted" *ngIf="isLogged" routerLink="/user/perfil">Perfil</a>
      <a class="p-2 text-muted" *ngIf="isLogged" routerLink="/admin/lista-eventos">Posts</a>
      <a class="btn btn-sm btn-outline-secondary" *ngIf="!isLogged" routerLink="/user/login">Entrar</a>
      <a class="p-2 text-muted" *ngIf="isLogged" href="#" (click)="onLogout()">Salir</a>
    </div>
  </div>
</header>

<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" routerLink="/agenda">Agenda</a>
    <a class="p-2 text-muted" routerLink="/arte">Arte</a>
    <a class="p-2 text-muted" routerLink="/musica">Música</a>
    <a class="p-2 text-muted" routerLink="/cine">Cine</a>
    <a class="p-2 text-muted" routerLink="/gastronomia">Gastronomía</a>
    <a class="p-2 text-muted" routerLink="/infantil">Infantil</a>
    <a class="p-2 text-muted" routerLink="/locales">Locales</a>
    <a class="p-2 text-muted" routerLink="/guia">La guía</a>
    <a class="p-2 text-muted" *ngIf="isLogged" routerLink="/premium">Premium</a>
  </nav>
</div>
