<section id="eventos" class="mt-5">
    <div class="row mb-2" id="eventos">
      <div class="col-md-6" *ngFor="let evento of eventos | paginate: { itemsPerPage: 8, currentPage: p };">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{evento.categoria}}</strong>
            <h3 class="mb-0">{{evento.titulo}}</h3>
            <div class="mb-1 text-muted">{{evento.fecha | date: 'd/MM/yy' }}</div>
            <p class="card-text mb-auto">{{evento.descripcion | truncateText:20}}</p>
            <a routerLink="/evento/{{evento.id}}" href="routerLink" class="stretched-link"></a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="250" src="{{evento.imagen}}" alt="{{evento.titulo}}">
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
</section>

