<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
                <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
                <div class="form-group">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Correo" [(ngModel)]="user.email" required>
                </div>
                <div class="form-group">
                  <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña"  [(ngModel)]="user.password" required>
                </div>
                <button type="submit" class="btn btn-lg btn-secondary btn-block btn-sm">Entrar</button>
                <div class="form-group">
                  <br>
                  <a routerLink="/user/registro" class="form-control login-user"><strong>¿Eres nuevo?</strong></a>
                </div>
                <div class="form-group">
                  <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()">
                    <span class="fab fa-facebook-f"></span>
                  </button>
                  <button class="btn btn-block btn-social btn-google" (click)="onLoginGoogle()">
                    <span class="fab fa-google"></span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>