<section id="eventos" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{evento.categoria}}</strong>
            <h3 class="mb-0" routerLink="/evento/{{evento.id}}">{{evento.titulo}}</h3>
            <div class="mb-1 text-muted">{{evento.fecha | date: 'd/MM/yy' }}</div>
            <p class="card-text mb-auto">{{evento.descripcion}}</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="400" height="250" src="{{evento.imagen}}" alt="{{evento.titulo}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

